@import './../../../scss/colors';

:host {
  display: block;
  max-width: 100%;
}

.email-item {
  position: relative;
  padding: 10px 0 6px 0;
  background-color: $gray-bg;
  border-bottom: 1px solid $divider;
  cursor: pointer;
  z-index: 0;
  max-width: 100%;

  &__checkbox {
    position: relative;
    top: 5px;
  }

  &__sender,
  &__subject,
  &__date {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
  }

  &__subject {
    position: relative;
    padding-right: 8px;
    top: 3px;
  }

  &__date {
    position: relative;
    font-size: 13px;
    top: 3px;
  }

  &:hover,
  &--checked {
    z-index: 1;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }

  &--checked {
    background-color: #c2dbff;
  }
}
