@import './../../../scss/colors';

:host {
  display: inline-block;
}

.settings-menu {
  position: relative;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid $light-gray;

  &:hover {
    border: 1px solid $light-blue;
    background-color: $blue-bg;
    cursor: pointer;
  }

  &__logo {
    max-width: 80px;
    margin-right: 8px;
  }

  &__profile-picture {
    max-width: 30px;
  }
}

.settings-popover {
  position: relative;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 8px;
  padding: 8px 0 12px 0;
  position: absolute;
  width: 350px;
  left: -210px;
  text-align: center;
  box-shadow: 0 2px 10px $shadow;
  z-index: 100;

  &__profile-picture {
    max-width: 90px;
  }

  &__legal {
    font-size: 12px;
  }
}
