@import './../../../scss/colors';

:host {
  display: inline-block;
  width: 100%;
}

.search-input {
  background-color: $light-gray;
  border-radius: 10px;
  padding: 4px;

  &__input {
    position: relative;
    background-color: transparent;
    border: 0;
    outline: 0;
  }
}

@media screen and (max-width: 360px) {
  .search-input {
    &__input {
      max-width: 130px;
    }
  }
}
