@import './../../../scss/colors';

:host {
  display: inline-block;
}

.compose-button {
  position: relative;
  border: 0;
  border-radius: 30px;
  background: $white;
  outline: 0;
  padding: 12px 32px 12px 52px;

  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

  &::before {
    content: '';
    display: block;
    height: 32px;
    width: 32px;
    background-image: url(./../../../assets/img/compose.png);
    background-position: center;
    background-size: 32px;
    position: absolute;
    top: 8px;
    left: 12px;
  }

  &:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
    background-color: #fafafb;
  }
}
