
$font: #202124;
$font-light: #5f6368;

$divider: #e8eaed;

$shadow: rgba(0,0,0,.2);

$white: white;

$gray: #5f6367;
$light-gray: #f1f3f4;
$gray-bg: #f7f8f8;
$gray-border: #dadce0;

$light-blue: #d2e3fc;
$blue-bg: rgba(248,250,255,0.88);

$red: #da3025;
$red-bg: #fcebe6;
